.DS_Store/
.idea/
.env
*.log
dist/
logs/
node_modules/
.eslintcache
coverage
privacy-api*.zip
.terraform
mongodb-binaries/
settings.json
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.github/actions/
.DS_Store
Thumbs.db
.vscode/
*.sublime-project
*.sublime-workspace
build
dist
package-lock.json
